In [1]:
s = 'Shanto'

for i in s:
    print(i, end='')

Shanto

In [14]:
programming = ["Pyhton","Java",'C#',"Html"]

for i in programming:
    print(i)

Pyhton
Java
C#
Html

In [16]:
list_nums = [2,4,6,7,9,10,15,20]

sum = 0
for i in list_nums:
    sum = sum + i

print("Sum =", sum)
print('Avg =', sum/len(list_nums))

Sum = 73
Avg = 9.125

In [20]:
num = (10,12,14,17,19,20)
sum = 0
for i in num:
    sum = sum + i

print(sum)

92

In [21]:
num = (10,12,14,17,19,20)
sum = 0
for i in num:
    sum = sum + i
    print(sum)

10
22
36
53
72
92

In [22]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range (0,16,7):
    print("Display value with a Step size of 7:", i)

Display value with a Step size of 7: 0
Display value with a Step size of 7: 7
Display value with a Step size of 7: 14

In [1]:
n = int(input('Enter the number: '))
for i in range(1,11):
    mul = n*i
    print(n,"*",i,'=',mul)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [9]:
companies = ["Apple",'Google','Amazon','Robi']
for i in companies:
    print("We will display each letter of",i)
    for letter in i:
        print(letter)

We will display each letter of Apple
A
p
p
l
e
We will display each letter of Google
G
o
o
g
l
e
We will display each letter of Amazon
A
m
a
z
o
n
We will display each letter of Robi
R
o
b
i

In [13]:
player_name = input("Enter player name : ")
goals = {'Messi' : 4, 'Ronaldo' : 7 , 'Shanto': 10}

for player in goals:
    if player == player_name:
        print(goals[player])
        break
    
else:
    print("No player found")

No player found